{{ define "task_edit" }}
<li id="task-{{ $.ID }}">
  <form
    class="list-row items-center"
    hx-put="/tasks/{{ $.ID }}/title"
    hx-target="#task-{{ $.ID }}"
    hx-swap="outerHTML"
  >

  <input
    type="text"
    name="title"
    class="input list-col-grow validator"
    placeholder="Title..."
    value="{{ $.Title }}"
    required
  />

  <button type="submit" class="btn btn-primary">Save</button>
  <button
      type="button"
      class="btn btn-secondary"
      hx-get="/tasks/{{ $.ID }}"
      hx-target="#task-{{ $.ID }}"
      hx-swap="outerHTML"
  >Cancel</button>
</li>
{{ end }}
