{{ define "content" }}
<div class="container mx-auto py-4 px-8">
  <div class="breadcrumbs text-sm">
    <ul>
      <li><a class="link" href="/">Top</a></li>
      <li>Tasks</li>
    </ul>
  </div>

  <div class="flex justify-between">
    <a class="btn btn-primary" href="/tasks/new">New</a>
    <form
      class="filter"
      hx-get="/api/tasks"
      hx-target="#tasks"
      hx-trigger="input changed"
    >
      <input type="hidden" name="page" value="1" />
      <select name="status" class="select">
        <option selected>all</option>
        <option>created</option>
        <option>done</option>
      </select>
    </form>
  </div>

  <ul id="tasks" class="list bg-base-100 rounded-box shadow-md">
    {{ template "tasks" .}}
  </ul>
</div>
{{ end }}
