{{ define "content" }}
<div class="container mx-auto py-4 px-8">
  <div class="breadcrumbs text-sm">
    <ul>
      <li><a class="link" href="/">Top</a></li>
      <li>Tasks</li>
    </ul>
  </div>

  <div class="flex flex-row justify-end">
    <form
      hx-get="/tasks"
      hx-target="#tasks"
      hx-trigger="input changed"
      hx-push-url="true"
    >
      <div class="join">
        <select name="limit" class="select appearance-none join-item">
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <select name="status" class="select appearance-none join-item">
          <option value="all">all</option>
          <option value="created">created</option>
          <option value="done">done</option>
        </select>
      </div>
    </form>
  </div>

  <ul id="tasks" class="list bg-base-100 rounded-box shadow-md">
    {{ template "tasks" .}}
  </ul>
</div>
{{ end }}
